{% if latest_product_list %}
<ul>
    {% for product in latest_product_list %}
    <li><a href="/product/{{ product.id }}/">{{ product.name }}</a></li>
    <form action="{% url 'product:cart' product.id %}" method="post">
        {% csrf_token %}
        <!-- {{product.id}} -->
        <!-- <input type="number" name="qty" value={{product.qty}}> -->
        <input type="submit" value="Add">
    </form>
    
    {% endfor %}
</ul>

<a href="/cart/">Cart</a>
{% else %}
<p>No product are available.</p>
{% endif %}